body {
    font-family: Consolas, Edwardian Script ITC;
    color: #0094ff;
}

#wrapper p:first-letter {
    font-size: 3rem;
    font-family: Edwardian Script ITC;
}

#wrapper p:first-line {
    font-size: 1.2rem;
    font-weight: bold;
}
