body {
    background-color: #a8a8a8;
}

header h1, nav a {
    color: white;
}

nav ul li {
    list-style-type: none;
    font-size: 1.1em;
}

nav ul li:last-child {
    text-decoration: underline;
}

body > header, body > footer {
    text-align: center;
}

section header {
    font-size: 1.2rem;
}

section footer {
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.current {
    background-color: #d2d2d2;
}
